#htmlroot {
  content-visibility: auto;
  contain-intrinsic-size: 1px 5000px;
}

label {
  margin-right: 0.4em;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

summary>h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

#addNewInputContainer,
#newDBInputContainer {
  display: flex;
}

#importDBInput {
  display: flex;
  white-space: nowrap;
  align-content: center;
  justify-content: center;
}

#addNew>label {
  font-size: 0.9rem;
}

#addNewInput {
  margin-right: 0.8em;
}

@media only screen and (min-width: 768px) {
  .columns2 {
    columns: 2;
  }
}

#dials {
  display: grid;
}

.advSettings {
  margin: .6em 0;
}

#dials>* {
  margin: .2em;
}


tr td {
  text-overflow: ellipsis;
  max-width: 30em;
  overflow: hidden;
}


#tableContainer {
  margin: 1em 0;
}


table td:last-child,
table th:last-child,
table td:first-child,
table th:first-child {
  background-image: unset;
  padding: 0.35em 0.75em;
}

table,
details[open] {
  background: antiquewhite;
}

details {
  padding: 0.35em 0.75em;
}

details[open] {
  padding: 0.35em 0.75em;
}

h6 {
  color: #ca162e;
}
