#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

summary>h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

#addNew {
  display: flex;
  align-items: center;
  margin: 0.5em;
}

#addNew>label {
  font-size: 0.9rem;
}

#addNewInput {
  margin-right: 0.8em;
}

#dials {
  display: flex;
  flex-direction: column;
}

tr td {
  text-overflow: ellipsis;
  max-width: 30em;
  white-space: nowrap;
  overflow: hidden;
}


#tableContainer {
  margin: 1em 0;
}


table td:last-child,
table th:last-child,
table td:first-child,
table th:first-child {
  background-image: unset;
  padding: 0.35em 0.75em;
}
